* {
    font-family: Cambria;
    text-align: center;
    background-color: #5e5d5d;
    margin-top: 30px;
  }
  button {
    background-color: rgb(236, 9, 9);
    border-radius: 6px;
    color: rgb(233, 233, 233);
    padding: 5px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 5px 5px rgb(22, 22, 22);
    margin-top: 5px;
  }
  #dicedisplay {
    height: 80px;
    width: 80px;
    padding: 30px;
    margin: 30px auto;
    border: 5px solid rgb(255, 141, 35);
    border-radius: 50px;  
    font-size: 60px;
    background-color: rgba(245, 245, 245, 0.623);
    color: red;
    box-shadow: 5px 5px rgb(22, 22, 22);
  }
  h1 {
    color: rgb(24, 228, 255);
    margin: 0px;
  }
  #click {
    color: yellow;
    margin-bottom: 0px;
  }